
@{
    var faqModel = ViewData["FAQModel"] as List<QuestionAnswer>;
}

<h2>Những câu hỏi thường gặp!</h2>
<p>(Bấm vào câu hỏi để hiện ra câu trả lời)</p>

<div class="list-group">
    @for (int i = 0; i < faqModel.Count; i++)
    {
        <button type="button" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#modal-@i">
            @faqModel[i].QuestionText
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modal-@i" tabindex="-1" aria-labelledby="modalLabel-@i" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel-@i">@faqModel[i].QuestionText</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @faqModel[i].AnswerText
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
